/* Estilos para la tabla de habitaciones */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}